body{
	background: #4169E1;
	font: 16px Arial, Helvetica, sans-serif;
}
.centralizar{
	text-align: center;
}
.imagemPerfil{
	text-align: left;
}
.imagem{
	border: 3px groove black;
}
#menu{
	background: #c5c5b2;
	padding: 18px;
}
a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;

}